.footer-body{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 5rem;
}
.footer-item{
    text-align: left;
}
.copy-right{
    align-items: center;
    margin: 0;
}

.footer-part{
    background: #3586ff;
    border-radius: 100px 0 0 0;
}

@media only screen and (max-width:688px) {
    .footer-body{
        display: flex;
        flex-direction: column;
    }
}
